body {
    background: #fdfdfd;
}

body * {
    color: #424242;
    font-family: "Diphylleia", serif;
    font-style: normal;
}

#nav-container-wrapper {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #969696;
}

#nav-container {
    width: 1000px;
    display: flex;
    justify-content: space-between;

}

#nav-container, .nav-inner-container {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 5px;
}

.nav-item-wrapper {
    padding: 10px;
}

.nav-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.button-type-1 {
    border: 1px solid #969696;
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
}

.button-type-1:hover {
    color: #424242;
    background: #e1e1e1;
}